<!DOCTYPE html>
<html>
  <head>
    <title>Facebook Account</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Facebook Account</h1>
    <p>Hi, you must be <a href="<%= user.profileUrl %>"><%= user.displayName %></a></p>
    <a href="/logout">logout</a>
  </body>
</html>
